alias api-go='cd ~/Documents/GitHub/Node-API && make serve'
alias api-pqa='cd ~/Documents/GitHub/Node-API && make pqa'
alias cdn-build='cd ~/Documents/GitHub/CDN/global && nvm use 6.2.1 && make build'
alias cdn-go='cd ~/Documents/GitHub/CDN/global && nvm use 6.2.1 && grunt serve'
alias cupcake-go='cd ~/Documents/GitHub/cupcake && make serve'
alias cupcake-pqa='cd ~/Documents/GitHub/cupcake && make pqa'
alias signup-go='cd ~/Documents/GitHub/signup && make serve'
alias signup-pqa='cd ~/Documents/GitHub/signup && make pqa'
alias wa-go='cd ~/Documents/GitHub/Node-Webadmin && make serve'
alias wa-pqa='cd ~/Documents/GitHub/Node-Webadmin && make pqa'

alias switch-mariadb='brew unlink mysql && brew link mariadb'
alias switch-mysql='brew unlink mariadb && brew link mysql'

# alias mysql='/usr/local/opt/mariadb@10.2/bin/mysql'

#alias api-token=`curl -X POST -H "Cache-Control: no-cache" -H "Content-Type: application/x-www-form-urlencoded" -d 'username=qa1&password=qa1&ttl=1200000000' "http://0.0.0.0:3000/api/tech/login?u" | grep "\"id\":\"\w*\""`

#alias kill-grunt=`kill -9 $(ps -aucaleb.burton | grep "[g]runt" | awk '{print $2}')`
alias zshrc='source ~/.zshrc'